@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --border-radius-standard: 5px;
  --border-radius-small: 2.5px;
  --box-shadow-color: rgba(36, 36, 36, 0.329);
  --primary-font: 'Poppins', sans-serif;
  --big-font-size: 1.4rem;
  --primary-font-size: 1.2rem;
  --small-font-size: 1rem;
  --ultra-small-font-size: .85rem;
  --card-alt-background: rgb(226, 226, 226);
  --primary-text-color: rgb(29, 29, 29);
  --hover-color-1: rgba(29, 29, 29, 0.250);
  --hover-color-2: rgba(29, 29, 29, 0.200);
  --hover-color-3: rgba(29, 29, 29, 0.150);
  --hover-color-4: rgba(29, 29, 29, 0.100);
  --error-color: #f54949;
  --green-color: #3ece51;
  --dark-green-color: #31a741; 
}

body {
  margin: 0;
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
